@model Model.EF.KhachHang
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-form">
    @using (Html.BeginForm())
    {

        <div class="form-group" style="margin:auto;width:90%">
            <fieldset style="margin:auto;width:90%;border-radius:5px;">
                <legend style="text-align:center">Nhập Mã Khách Hàng</legend>
                <div class="col-md-2" style="margin:auto;width:50%">
                    <label style="width:auto;position:absolute;right:50px">Mã Khách Hàng</label>
                </div>
                <div class="col-md-10" style="margin:auto;width:50%">
                    <p>
                        <input type="text" name="id" class="form-control">
                    </p>
                    
                </div>
            </fieldset>
            <div class="col-md-offset-5 col-md-3">
                <p align="center">

                    
                </p>
            </div>
        </div>

    }
</div> 